 <div class="module distro-list">
 	<h2>Distribution Lists</h2>

 	<table class="table">
 		<tr><th>Name</th><th>Email</th></tr>
 		<tr class="alt"><td>Team</td><td>this@this.com</td></tr>
 		<tr><td>Team</td><td>this@this.com</td></tr>
 		<tr class="alt"><td>Team</td><td>this@this.com</td></tr>
 		<tr><td>Team</td><td>this@this.com</td></tr>
 		<tr class="alt"><td>Team</td><td>this@this.com</td></tr>
 		<tr><td>Team</td><td>this@this.com</td></tr>
 		<tr class="alt"><td>Team</td><td>this@this.com</td></tr>	
 		<tr><td>Team</td><td>this@this.com</td></tr>
 		<tr class="alt"><td>Team</td><td>this@this.com</td></tr>	
 		<tr><td>Team</td><td>this@this.com</td></tr>
 		<tr class="alt"><td>Team</td><td>this@this.com</td></tr>			
 	</table>
 </div>