<div class="module events">
	<h2>Events</h2>
	<div class="eventsContainer">
		<div class="event">
			<div class="inside">

				<span class="date">25/04/2015</span>
				<h3>GXT Training</h3>
				<p><span>Time: </span>11:30AM<br><span>Place: </span>Qantas<br><span>Notes: </span>All City is required</p>

			</div>
		</div>

		<div class="event">
			<div class="inside">

				<span class="date">25/04/2015</span>
				<h3>GXT Training</h3>
				<p><span>Time: </span>11:30AM<br><span>Place: </span>Qantas<br><span>Notes: </span>All City is required</p>

			</div>
		</div>

		<div class="event">
			<div class="inside">

				<span class="date">25/04/2015</span>
				<h3>GXT Training</h3>
				<p><span>Time: </span>11:30AM<br><span>Place: </span>Qantas<br><span>Notes: </span>All City is required</p>

			</div>
		</div>

		<div class="event">
			<div class="inside">

				<span class="date">25/04/2015</span>
				<h3>GXT Training</h3>
				<p><span>Time: </span>11:30AM<br><span>Place: </span>Qantas<br><span>Notes: </span>All City is required, bring your laptop and something to write notes.</p>

			</div>
		</div>

		<div class="event">
			<div class="inside">

				<span class="date">25/04/2015</span>
				<h3>GXT Training</h3>
				<p><span>Time: </span>11:30AM<br><span>Place: </span>Qantas<br><span>Notes: </span>All City is required</p>

			</div>
		</div>

		<div class="event">
			<div class="inside">

				<span class="date">25/04/2015</span>
				<h3>GXT Training</h3>
				<p><span>Time: </span>11:30AM<br><span>Place: </span>Qantas<br><span>Notes: </span>All City is required</p>

			</div>
		</div>

		<div class="event">
			<div class="inside">

				<span class="date">25/04/2015</span>
				<h3>GXT Training</h3>
				<p><span>Time: </span>11:30AM<br><span>Place: </span>Qantas<br><span>Notes: </span>All City is required</p>

			</div>
		</div>

		<div class="event">
			<div class="inside">

				<span class="date">25/04/2015</span>
				<h3>GXT Training</h3>
				<p><span>Time: </span>11:30AM<br><span>Place: </span>Qantas<br><span>Notes: </span>All City is required</p>

			</div>
		</div>

		
	</div>
</div>

