<div class="module release">
	<h2>Releases</h2>
	<div id="releases-slider">
		<div>
			<div>
				<p>09/04 Release</p>
			</div>
			<table>	
				<tr class="alt"><th>Enviroment</th><td>env1</td><td>env2</td></tr>
				<tr><th>Web Master</th><td>env1</td><td>env2</td></tr>
				<tr class="alt"><th>Branch</th><td>env1</td><td>env2</td></tr>
				<tr><th>Soft Freeze</th><td>env1</td><td>env2</td></tr>
				<tr class="alt"><th>Hard Freeze</th><td>env1</td><td>env2</td></tr>
				<tr><th>DIT</th><td>env1</td><td>env2</td></tr>
			</table>
		</div>
		<div>
			<div>
				<p>09/03 Release</p>
			</div>
			<table>	
				<tr class="alt"><th>Enviroment</th><td>env1</td><td>env2</td></tr>
				<tr><th>Web Master</th><td>env1</td><td>env2</td></tr>
				<tr class="alt"><th>Branch</th><td>env1</td><td>env2</td></tr>
				<tr><th>Soft Freeze</th><td>env1</td><td>env2</td></tr>
				<tr class="alt"><th>Hard Freeze</th><td>env1</td><td>env2</td></tr>
				<tr><th>DIT</th><td>env1</td><td>env2</td></tr>
			</table>
		</div>

		<div>
			<div>
				<p>09/05 Release</p>
			</div>
			<table>	
				<tr class="alt"><th>Enviroment</th><td>env1</td><td>env2</td></tr>
				<tr><th>Web Master</th><td>env1</td><td>env2</td></tr>
				<tr class="alt"><th>Branch</th><td>env1</td><td>env2</td></tr>
				<tr><th>Soft Freeze</th><td>env1</td><td>env2</td></tr>
				<tr class="alt"><th>Hard Freeze</th><td>env1</td><td>env2</td></tr>
				<tr><th>DIT</th><td>env1</td><td>env2</td></tr>
			</table>
		</div>

	</div>
	


</div>