<div class="module release">
	<h2>Releases</h2>
	<div id="releases-slider">
		<div>
			<div>
				<p>09/04 Release</p>
			</div>
			
			<table>	
				<tr class="alt"><th>Enviroment</th><td>env1</td><td>env2</td></tr>
				<tr><th>Web Master</th><td>env1</td><td>env2</td></tr>
				<tr class="alt"><th>Branch</th><td>env1</td><td>env2</td></tr>
				<tr><th>Soft Freeze</th><td>env1</td><td>env2</td></tr>
				<tr class="alt"><th>Hard Freeze</th><td>env1</td><td>env2</td></tr>
				<tr><th>Project</th><td></td><td><button class="release-projects-btn"></button></td></tr>
			</table>

			<table class = "release-project alt">
				<tr class="alt"><th>DIT</th><td>ff</td><td>dd</td></tr>
				<tr class="alt"> <th>DIT</th><td>ff</td><td>dd</td></tr>
				<tr class="alt"><th>DIT</th><td>ff</td><td>dd</td></tr>
			</table>
		</div>
		
		<div>
			<div>
				<p>09/04 Release</p>
			</div>
			
			<table>	
				<tr class="alt"><th>Enviroment</th><td>env1</td><td>env2</td></tr>
				<tr><th>Web Master</th><td>env1</td><td>env2</td></tr>
				<tr class="alt"><th>Branch</th><td>env1</td><td>env2</td></tr>
				<tr><th>Soft Freeze</th><td>env1</td><td>env2</td></tr>
				<tr class="alt"><th>Hard Freeze</th><td>env1</td><td>env2</td></tr>
				<tr><th>Project</th><td></td><td><button class="release-projects-btn"></button></td></tr>
			</table>

			<table class = "release-project alt">
				<tr class="alt"><th>DIT</th><td>ff</td><td>dd</td><td>d3d</td></tr>
				<tr class="alt"> <th>DIT</th><td>ff</td><td>dd</td><td>dd</td></tr>
				<tr class="alt"><th>DIT</th><td>ff</td><td>dd</td><td>dd</td></tr>
			</table>
		</div>



	</div>



</div>