
<!-- Equipos (Nombre, puesto y medios de comunicacion) -->
<div class="module module-teams">
	<h2>TEAMS</h2>
	<div class="team jax">

		<h3>JAX</h3>
		
		<div class="person">

			<img src="assets/images/user.gif">

			<h3>Charlie Mayer S.</h3>

			<h4>PM Manager</h4>
			<p><span>Skype:</span> this.this<br><span>Phone:</span> +1 567 9847<br><span>Email:</span> this@this.com<br><span>Feedback:</span><textarea name="">Personal Feedback</textarea></p>

		</div>

		<div class="person">

			<img src="assets/images/user.gif">

			<h3>Charlie Mayer S.</h3>

			<h4>PM Manager</h4>
			<p><span>Skype:</span> this.this<br><span>Phone:</span> +1 567 9847<br><span>Email:</span> this@this.com<br><span>Feedback:</span><textarea name="">Personal Feedback</textarea></p>

		</div>

		<div class="person">

			<img src="assets/images/user.gif">

			<h3>Charlie Mayer S.</h3>

			<h4>PM Manager</h4>
			<p><span>Skype:</span> this.this<br><span>Phone:</span> +1 567 9847<br><span>Email:</span> this@this.com<br><span>Feedback:</span><textarea name="">Personal Feedback</textarea></p>

		</div>

		<div class="person">

			<img src="assets/images/user.gif">

			<h3>Charlie Mayer S.</h3>

			<h4>PM Manager</h4>
			<p><span>Skype:</span> this.this<br><span>Phone:</span> +1 567 9847<br><span>Email:</span> this@this.com<br><span>Feedback:</span><textarea name="">Personal Feedback</textarea></p>

		</div>


	</div>

	<div class="team cr">
		<h3>CR</h3>

		<div class="person">

			<img src="assets/images/user.gif">

			<h3>Charlie Mayer S.</h3>

			<h4>PM Manager</h4>
			<p><span>Skype:</span> this.this<br><span>Phone:</span> +1 567 9847<br><span>Email:</span> this@this.com<br><span>Feedback:</span><textarea name="">Personal Feedback</textarea></p>

		</div>
		
		<div class="person">

			<img src="assets/images/user.gif">

			<h3>Charlie Mayer S.</h3>

			<h4>PM Manager</h4>
			<p><span>Skype:</span> this.this<br><span>Phone:</span> +1 567 9847<br><span>Email:</span> this@this.com<br><span>Feedback:</span><textarea name="">Personal Feedback</textarea></p>

		</div>

		<div class="person">

			<img src="assets/images/user.gif">

			<h3>Charlie Mayer S.</h3>

			<h4>PM Manager</h4>
			<p><span>Skype:</span> this.this<br><span>Phone:</span> +1 567 9847<br><span>Email:</span> this@this.com<br><span>Feedback:</span><textarea name="">Personal Feedback</textarea></p>

		</div>

		<div class="person">

			<img src="assets/images/user.gif">

			<h3>Charlie Mayer S.</h3>

			<h4>PM Manager</h4>
			<p><span>Skype:</span> this.this<br><span>Phone:</span> +1 567 9847<br><span>Email:</span> this@this.com<br><span>Feedback:</span><textarea name="">Personal Feedback</textarea></p>

		</div>



	</div>

</div>

