.module{
	
	margin: 15px 0;
	padding: 15px;
	background-image: url("/assets/images/bg-tiny-stripes.png");
	background-repeat: repeat;


	width: 100%;
	float: left;

	h2{
		font-size: 25px;
		line-height: 23px;
		margin-bottom: 14px;
		color: #5a6c78;

	}

	h3{
		font-size: 20px;
		color: #363836;
	}
}


