/*styles for the Quick Links module*/

.quick-links{
	div{
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}

	ul{
		float: left;
		width: 100%;
		list-style: none;
	}

	li{
		width: 33%;
		float: left;
		text-align: center;
	}

	a{
		color: #036f83;
		text-decoration: none;
		font-size: 0.9em;

	}

	a:hover{
		color: #024151;
	}

}