.release{
	p{
		text-align: center;
	}

	table{
		font-size: 15px;
		text-align: center;
		border-spacing: 14px;
		border: none;
		tr{
			th{	
				text-align: left;
				background-color: transparent;
			}

			td, th{
				
				background-color: transparent;
				border-left: none;
				border-right: none;
				height: 30px;
				font-size: 14px;
			}

			
		}
		.alt{
			td, th{
				background-color: #e8eaec;
			}
		}
		tr:hover, tr:focus, tr:active{
			td, th{
				background-color: #a4aeb5;	
			}	
		}

		.release-projects-btn{
			background: url("../images/minus.png") no-repeat scroll 0 0 transparent;
			background-size: 20px;
			outline: none;
			width: 20px;
			height: 20px;
			border: none;
		}

	}

	.btn-plus{
		background-image: url("../images/plus.png")!important;
		display: none;
	}

	.btn-minus{
		background: url("../images/minus.png")!important;
	}

	.release-project{

		display: none;
		opacity: 0;
	}

	@media (max-width:895px) {
		p{
			font-size: 16px;  
		}

	}


	
}