.eventsContainer{
	width: 100%;
	float: left;
	margin-bottom: 20px;

	.event {
		float: left;
		width: 25%;
		height: 70px;
		position: relative;
		background-color: red;
		
		.inside {
			-webkit-transition: background-color 1s, width 0.7s, height 0.4s, z-index 1s;
			transition: background-color 1s, width 0.7s, height 0.4s, z-index 1s;
			position: absolute;
			padding: 0 5px;
			border: 1px solid white;
			width: 100%;
			height: 70px;
			background-color: #e8eaec;
			z-index: 900;

			.date{
				text-align: right;
				font-size: 0.7em;
				padding: 0;
				margin: 0;
				width: 100%;
			}

			h3{
				font-size: 0.9em;
				padding: 0;
				margin: 0;
				text-align: center;

			}

			p{

				-webkit-transition: visibility 0.3s, opacity 0.3s;
				transition: visibility 0.3s, opacity 0.3s;
				font-size: 0.6em;
				visibility: hidden;
				opacity: 0;
				span{
					font-weight: bold;
				}
			}
		}
		.inside:hover {
			position: absolute;
			background-color: #a4aeb5;
			height: 140px;
			width: 110%;
			z-index: 999;
			
			p{
				-webkit-transition: visibility 1.1s, opacity 1.1s;
				transition: visibility 1.1s, opacity 1.1s;
				visibility: visible;
				opacity: 1;
			}
			
		}
	}

	@media (max-width: 555px) {
		.event{
			width: 50%;
			.inside{
				p{
					position: absolute;
					left: 5px;
				}
			}
		}

	}
}

